* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

body {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 20px;
}
a {
  color: #000000;
} 
a:active {
  color: #000000;
} 




/* заголовок */
.header {
  margin-bottom: 30px;
}
.wrapper {
  max-width: 1440px;
  padding: 0px 50px;
  margin: 0 auto;
}
.header__container {
  padding: 30px 20px;
  border-bottom: 1px solid #000000; 
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 120px;
  margin-right: 60px;
}
.header__logo p{
  font-weight: 800;
  font-size: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.header__search {
  margin-right: auto;
}
.header__search input{
  height: 38px;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding-left: 40px;
  background: url('../img/vector.svg') 7px 50% no-repeat;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__menu {
  display: flex;
}
.header__menu-item {
  width: 90px;
  margin-right: 10px;
  text-align: center;
}
.header__menu-item-link {
  color: #808080;
  display: block;
}
.header__menu-item-active {
  background-color: rgba(97, 255, 103, 0.70);
}
.header__menu-item-active a {
  color:#000000;
}
.header__menu-item:hover {
  background-color: rgba(97, 255, 103, 0.30);
}
.header__menu-item-active:hover {
  background-color: rgba(97, 255, 103, 0.70);
}
.header__menu-item:active {
  background-color: rgba(0, 0, 0, 0.0);
}
.header__menu-item a:active {
  color: #A0A0A0;
}
.header__menu-item:last-child {
  margin-right: 0px;
}





/* главная страница */
.main {
}
.main__continer {
  display: flex;
}
.hidden {
  display: none;
}


/* темы */
.main__themes {
  padding: 20px 10px;
  margin-right: 40px;
  border-right: 1px solid #000000;
}
.main__themes-item {
  width: 140px;
  height: 20px;
  margin-bottom: 20px;
  color: #808080;
}
.main__themes-item-link {
  color: #808080;
  padding: 0px 10px;
  display: block;
}
.main__themes-item:last-child {
  margin-bottom: 0px;
}
.main__themes-item:hover {
  background-color: rgba(97, 255, 103, 0.30);
}
.main__themes-item-active{
  color: #000000;
  background-color: rgba(97, 255, 103, 0.70);
}
.main__themes-item-active a{
  color: #000000;
}
.main__themes-item-active:hover {
  color: #000000;
  background-color: rgba(97, 255, 103, 0.70);
}
.main__themes-item:active {
  background-color: rgba(97, 255, 103, 0.0);
}
.main__themes-item a:active {
  color: #A0A0A0;
}


/* статьи */
.main__articles {
  margin-top: 20px;
  margin-right: 20px;
}
.main__article {
  margin-bottom: 50px;
}
/* подумать исправить */
.main__article:last-child {
  margin-bottom: 20px; 
}
.article {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.article__name {
  border-bottom: 1px solid #000000;
  padding: 20px 10px;
  padding-top: 0px;
  margin-bottom: 20px;
}
.aticle__name-text {
  font-size: 20px;
  font-weight: 700;
}
.article__text {
  padding: 0px 10px;
  margin-bottom: 20px;
}
.article__date {
  padding: 0px 10px;
  text-align: right;
}





/* регистрация */
.main__login {}
.login {
  width: 480px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 60px;
}
.login__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.login__input-block {
  margin-bottom: 20px;
}
.login__text {
  margin-bottom: 10px;
}
.login__input {
  display: block;
  height: 30px;
  min-width: 100%;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.login__first-name {
}
.login__first-name-text {
}
.login__first-name-input {
}
.login__second-name {
}
.login__second-name-text {
}
.login__second-name-input {
}
.login__email {
}
.login__email-text {
}
.login__email-input {
}
.login__password {
}
.login__password-text {
}
.login__password-input {
  margin-bottom: 10px;
}
.login__password-input_confirmation {
}
.login__button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
}
.login__button:hover {
  border: 1px solid #808080;
}
.login__button:active {
  border: 1px solid #A0A0A0;
  color: #808080;
}
.login__hint {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.login__hint-text {
}
.login__hint-link {

}
.login__hint-link a:hover {
  color: #808080;
}
.login__hint-link a:active {
  color: #A0A0A0;
}




/* вход */
.sign-up {
  width: 480px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 60px;
}
.sign-up__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.sign-up__input-block {
  margin-bottom: 20px;
}
.sign-up__text {
  margin-bottom: 10px;
}
.sign-up__input {
  display: block;
  height: 30px;
  min-width: 100%;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.sign-up__first-name {
}
.sign-up__first-name-text {
}
.sign-up__first-name-input {
}
.sign-up__second-name {
}
.sign-up__second-name-text {
}
.sign-up__second-name-input {
}
.sign-up__email {
}
.sign-up__email-text {
}
.sign-up__email-input {
}
.sign-up__password {
}
.sign-up__password-text {
}
.sign-up__password-input {
  margin-bottom: 10px;
}
.sign-up__password-input_confirmation {
}
.sign-up__button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
}
.sign-up__button:hover {
  border: 1px solid #808080;
}
.sign-up__button:active {
  border: 1px solid #A0A0A0;
  color: #808080;
}
.sign-up__hint {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.sign-up__hint-text {
}
.sign-up__hint-link {

}
.sign-up__hint-link a:hover {
  color: #808080;
}
.sign-up__hint-link a:active {
  color: #A0A0A0;
}





/* загрузка статьи */
.main__load-article-container {
  padding: 0 20px;
}
.main__load-article {
  margin-top: 50px;
  margin-bottom: 30px;
}
.load-article {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-top: 0px;
}
.load-arctile__name {
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  padding: 0 10px;
}
.load-article__name-input {
  /* border: 1px solid #808080; */
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.load-article__text {
  
}
.load-article__textarea {
  /* border: 1px solid #000000; */
  padding: 0 10px;
  max-width: 100%;
  min-width: 100%;
  height: 120px;
  font-size: 14px;
}
.main__load-article-button {
  width: 200px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.main__load-article-button:hover {
  border: 1px solid #808080;
}
.main__load-article-button:active {
  border: 1px solid #A0A0A0;
  color: #808080;
}





/* профиль */
.main__profile {
  margin-top: 20px;
  width: 300px;
  padding: 0 20px;
}
.profile {
  
}
.profile__title {
  font-size: 24px;
  margin-bottom: 30px;
}
.profile__data {
  margin-bottom: 50px;
}
.profile__text {
  margin-bottom: 10px;
}
.profile__input {
  display: block;
  height: 30px;
  min-width: 100%;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.profile__first-name {
  margin-bottom: 20px;
}
.profile__first-name-text {
}
.profile__first-name-input {
}
.profile__second-name {
  margin-bottom: 20px;
}
.profile__second-name-text {
}
.profile__second-name-input {
}
.profile__email {
}
.profile__email-text {
}
.profile__email-input {
}
.profile__button {
  height: 30px;
  width: 200px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.profile__button:hover {
  border: 1px solid #808080;
}
.profile__button:active {
  color: #808080;
  border: 1px solid #A0A0A0;
}